<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="robots" content="noindex, nofollow, noarchive, nosnippet, nositelinksearchbox, noimageindex, notranslate">
        <title><%= config.text['error.header'] %></title>
        <link rel="icon" type="image/jpeg" href="/static/images/<%= config.icon %>" />
        <link rel="stylesheet" type="text/css" href="/static/css/semantic.min.css" />
    </head>
    <body>
        <div class="ui menu">
            <div class="ui container">
                <div class="header item">
                    <img class="logo" src="/static/images/<%= config.icon %>" />
                    <%= config.name %>
                </div>
            </div>
        </div>
        <div class="ui main text container">
            <h1 class="ui centered header"><%= config.text['error.header'] %></h1>
            <% _.forEach(config.text['error.description'], function(paragraph) { %>
            <p>
                <%= paragraph %>
            </p>
            <% }); %>
            <p>
                Details:<pre> <%= "\<\%- message \%\>" %></pre>
            </p>
        </div>
    </body>
</html>